@media (max-width:430px){
    #register-div{
        width: 80vw;
        left:10vw;
        font-size: 12px;
    }
    #register-div h1{
        font-size: 22px;
        text-decoration: underline;
    }
    #register-div label{
        font-size: 14px;
    }
    #register-div input{
        width: 40vw;
        height: 6vh;
    }
    #confirm-label{
       font-size: 12px;
       position: relative;
       top: 8vh;
    }
    #confirm-input{
        width:20px;
        margin-left: 20vw;
        position: relative;
       left: 18vw;
       top: -6vh;
    }
    #input-1{
        margin-left: 27vw;
    }
    #input-2{
        margin-left: 25vw;
    }
    #input-3{
margin-left: 19vw;
    }
    #register-div button{
        width: 28vw;
        top: -1vh;
        height: 8vh;
        left: 26vw;
        font-size: 16px;
        font-weight: 500;
        background-color: yellow;
    }
    #register-div p{
        font-size: 12px;
        left: 16vw;
        top: -1vh;
    }
    #email-input{
        margin-left: 8.5vw;
    }
}